<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <span th:text="${msg}"></span><br/>
        <a th:href="@{/searchUser}">查询当前用户</a><br/>
        <a th:href="@{/getHttpContext}">域对象处理</a><br/>
        <a th:href="@{/view/message}">相对路径</a><br/>
        <a th:href="@{/view/message(id=1)}">相对路径(get参数)</a><br/>
        <a th:href="@{/view-restful/message/{id}/(id=2)}">相对路径(restful)</a><br/>
        <a th:href="@{/view-restful/message/2}">相对路径(restful)</a><br/>
    </div>
</body>
</html>