<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>用户数据</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <table border="1" width="50%" align="center">
            <tr>
                <td>NO</td>
                <td>ID</td>
                <td>NAME</td>
                <td>AGE</td>
            </tr>
            <tr th:each = "user,var : ${userLists}">
                <td th:text="${var.count}"></td>
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>
            <tr th:each = "map,var : ${maps}">
                <td th:text="${var.count}"></td>
                <td th:each="entry:${map}" th:text="${map.key}"></td>
                <td th:each="entry:${map}" th:text="${map.value}"></td>
            </tr>
        </table>
    </body>
</html>