<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <title>用户数据</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <div align="center">
            <a href="/user/add">
                <button type="button">新增用户</button>
            </a>
            <table border="1" width="50%" align="center">
                <tr>
                    <td>NO</td>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>AGE</td>
                    <td>操作</td>
                </tr>
                <tr th:each = "user,var : ${users}">
                    <td th:text="${var.count}"></td>
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.age}"></td>
                    <td >
                        <a th:href="@{/user/update/{id}/(id = ${user.id})}">更新</a>
                        <a th:href="@{/user/delete/{id}/(id = ${user.id})}">删除</a>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>