<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>新增用户</title>
</head>
<body>
<div align="center">
    <form method="post" action="/user/update">
        <label>编号：<input name="id" th:value="${user.id}"></label><br/>
        <label>姓名：<input name="name" th:value="${user.name}"> </label><br/>
        <label>年龄：<input name="age" th:value="${user.age}"></label><br/>
        <button type="submit">提交</button>
        <button type="reset">重置</button>
    </form>
</div>
</body>
</html>